.monster-list-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.monster-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  border: 0px solid;
}

.monster-list.has-search-term {
  border: 2px solid #ccc;
}

.monster-list-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}
.monster-list-item:hover {
  background-color: #e6e6e6;
}

.monster-image {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  object-fit: contain;
}
